{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- banner section design -->
<div class="banner-container">
    <div class="name" id="name">KAYLAN</div>
    <div class="intro">
        <p>Hi, I'm a freelance <span class="caveat-style" id="rotating-words">Graphic</span>
             Designer. I've always been interested in the concepts of design and utilizing a minimalistic approach to my design work.</p>
    </div>
</div>




<!-- Portfolio section design -->
<section class="home-portfolio">
    <div class="main-text">
        <p>Portfolio</p>
        <h2><span>Latest</span> Projects</h2>
    </div>
    <div class="category">
        <h3>View<span> Projects</span></h3>
        <a href="{% url 'projects' %}"><i class="bx bx-link-external"></i></a>
    </div>
    <!-- <div class="portfolio-content">
        {% for project in projects %}
        <div class="row">
            <img src="{{ project.project_image.url }}">
            <div class="layer">
                <h5>{{ project.title }}</h5>
                <p>{{ project.description }}</p>
                <a href="{{ project.get_url }}"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
        {% endfor %}
    </div> -->

</section>





<!-- about section design -->
<div class="home-about">
    <div class="about-img">
        <img src="{{ profile.profile_pic.url }}">
    </div>

    <div class="about-text">
        <h2>About <span>Me</span></h2>
        <h4>{{ profile.profession }}</h4>
        <p>{{ profile.description }}</p>
        <a href="{{ profile.cv.url }}" target="_blank" class="about-btn">View CV</a>
    </div>
</div>


<!-- Service section design -->
<section class="home-services">
    <div class="main-text">
        <p>What I am Expert In</p>
        <h2><span>My</span> Services</h2>
    </div>

    <div class="services-content">
        {% for category in links %}
        <div class="service-box">
            <div class="s-icons">
                <i class="bx bx-mobile-alt"></i>
            </div>
            <h3>{{ category.category_name }}</h3>
            <p>{{ category.description }}</p>
            <a href="{{ category.get_url }}" class="read">View Projects</a>
        </div>
        {% endfor %}
    </div>
    
</section>

{% endblock %}